/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 0px;
$checkbox-checked-y: 26px;
$checkbox-checked-offset-x: 0px;
$checkbox-checked-offset-y: -26px;
$checkbox-checked-width: 19px;
$checkbox-checked-height: 19px;
$checkbox-checked-total-width: 137px;
$checkbox-checked-total-height: 106px;
$checkbox-checked-image: '../img/sprite.png';
$checkbox-checked: (0px, 26px, 0px, -26px, 19px, 19px, 137px, 106px, '../img/sprite.png', 'checkbox-checked', );
$checkbox-hover-name: 'checkbox-hover';
$checkbox-hover-x: 0px;
$checkbox-hover-y: 50px;
$checkbox-hover-offset-x: 0px;
$checkbox-hover-offset-y: -50px;
$checkbox-hover-width: 19px;
$checkbox-hover-height: 19px;
$checkbox-hover-total-width: 137px;
$checkbox-hover-total-height: 106px;
$checkbox-hover-image: '../img/sprite.png';
$checkbox-hover: (0px, 50px, 0px, -50px, 19px, 19px, 137px, 106px, '../img/sprite.png', 'checkbox-hover', );
$facebook-hover-name: 'facebook-hover';
$facebook-hover-x: 105px;
$facebook-hover-y: 62px;
$facebook-hover-offset-x: -105px;
$facebook-hover-offset-y: -62px;
$facebook-hover-width: 6px;
$facebook-hover-height: 12px;
$facebook-hover-total-width: 137px;
$facebook-hover-total-height: 106px;
$facebook-hover-image: '../img/sprite.png';
$facebook-hover: (105px, 62px, -105px, -62px, 6px, 12px, 137px, 106px, '../img/sprite.png', 'facebook-hover', );
$facebook-name: 'facebook';
$facebook-x: 105px;
$facebook-y: 45px;
$facebook-offset-x: -105px;
$facebook-offset-y: -45px;
$facebook-width: 6px;
$facebook-height: 12px;
$facebook-total-width: 137px;
$facebook-total-height: 106px;
$facebook-image: '../img/sprite.png';
$facebook: (105px, 45px, -105px, -45px, 6px, 12px, 137px, 106px, '../img/sprite.png', 'facebook', );
$footer-facebook-name: 'footer-facebook';
$footer-facebook-x: 105px;
$footer-facebook-y: 0px;
$footer-facebook-offset-x: -105px;
$footer-facebook-offset-y: 0px;
$footer-facebook-width: 11px;
$footer-facebook-height: 21px;
$footer-facebook-total-width: 137px;
$footer-facebook-total-height: 106px;
$footer-facebook-image: '../img/sprite.png';
$footer-facebook: (105px, 0px, -105px, 0px, 11px, 21px, 137px, 106px, '../img/sprite.png', 'footer-facebook', );
$footer-twitter-hover-name: 'footer-twitter-hover';
$footer-twitter-hover-x: 0px;
$footer-twitter-hover-y: 0px;
$footer-twitter-hover-offset-x: 0px;
$footer-twitter-hover-offset-y: 0px;
$footer-twitter-hover-width: 25px;
$footer-twitter-hover-height: 21px;
$footer-twitter-hover-total-width: 137px;
$footer-twitter-hover-total-height: 106px;
$footer-twitter-hover-image: '../img/sprite.png';
$footer-twitter-hover: (0px, 0px, 0px, 0px, 25px, 21px, 137px, 106px, '../img/sprite.png', 'footer-twitter-hover', );
$footer-twitter-name: 'footer-twitter';
$footer-twitter-x: 30px;
$footer-twitter-y: 0px;
$footer-twitter-offset-x: -30px;
$footer-twitter-offset-y: 0px;
$footer-twitter-width: 25px;
$footer-twitter-height: 21px;
$footer-twitter-total-width: 137px;
$footer-twitter-total-height: 106px;
$footer-twitter-image: '../img/sprite.png';
$footer-twitter: (30px, 0px, -30px, 0px, 25px, 21px, 137px, 106px, '../img/sprite.png', 'footer-twitter', );
$footer-vkontakte-name: 'footer-vkontakte';
$footer-vkontakte-x: 84px;
$footer-vkontakte-y: 0px;
$footer-vkontakte-offset-x: -84px;
$footer-vkontakte-offset-y: 0px;
$footer-vkontakte-width: 16px;
$footer-vkontakte-height: 21px;
$footer-vkontakte-total-width: 137px;
$footer-vkontakte-total-height: 106px;
$footer-vkontakte-image: '../img/sprite.png';
$footer-vkontakte: (84px, 0px, -84px, 0px, 16px, 21px, 137px, 106px, '../img/sprite.png', 'footer-vkontakte', );
$marker-name: 'marker';
$marker-x: 121px;
$marker-y: 17px;
$marker-offset-x: -121px;
$marker-offset-y: -17px;
$marker-width: 12px;
$marker-height: 16px;
$marker-total-width: 137px;
$marker-total-height: 106px;
$marker-image: '../img/sprite.png';
$marker: (121px, 17px, -121px, -17px, 12px, 16px, 137px, 106px, '../img/sprite.png', 'marker', );
$pagination-back-name: 'pagination-back';
$pagination-back-x: 48px;
$pagination-back-y: 26px;
$pagination-back-offset-x: -48px;
$pagination-back-offset-y: -26px;
$pagination-back-width: 6px;
$pagination-back-height: 9px;
$pagination-back-total-width: 137px;
$pagination-back-total-height: 106px;
$pagination-back-image: '../img/sprite.png';
$pagination-back: (48px, 26px, -48px, -26px, 6px, 9px, 137px, 106px, '../img/sprite.png', 'pagination-back', );
$pagination-forward-name: 'pagination-forward';
$pagination-forward-x: 105px;
$pagination-forward-y: 79px;
$pagination-forward-offset-x: -105px;
$pagination-forward-offset-y: -79px;
$pagination-forward-width: 6px;
$pagination-forward-height: 9px;
$pagination-forward-total-width: 137px;
$pagination-forward-total-height: 106px;
$pagination-forward-image: '../img/sprite.png';
$pagination-forward: (105px, 79px, -105px, -79px, 6px, 9px, 137px, 106px, '../img/sprite.png', 'pagination-forward', );
$radio-checked-name: 'radio-checked';
$radio-checked-x: 24px;
$radio-checked-y: 26px;
$radio-checked-offset-x: -24px;
$radio-checked-offset-y: -26px;
$radio-checked-width: 19px;
$radio-checked-height: 19px;
$radio-checked-total-width: 137px;
$radio-checked-total-height: 106px;
$radio-checked-image: '../img/sprite.png';
$radio-checked: (24px, 26px, -24px, -26px, 19px, 19px, 137px, 106px, '../img/sprite.png', 'radio-checked', );
$radio-hover-name: 'radio-hover';
$radio-hover-x: 60px;
$radio-hover-y: 0px;
$radio-hover-offset-x: -60px;
$radio-hover-offset-y: 0px;
$radio-hover-width: 19px;
$radio-hover-height: 19px;
$radio-hover-total-width: 137px;
$radio-hover-total-height: 106px;
$radio-hover-image: '../img/sprite.png';
$radio-hover: (60px, 0px, -60px, 0px, 19px, 19px, 137px, 106px, '../img/sprite.png', 'radio-hover', );
$radio-name: 'radio';
$radio-x: 60px;
$radio-y: 24px;
$radio-offset-x: -60px;
$radio-offset-y: -24px;
$radio-width: 19px;
$radio-height: 19px;
$radio-total-width: 137px;
$radio-total-height: 106px;
$radio-image: '../img/sprite.png';
$radio: (60px, 24px, -60px, -24px, 19px, 19px, 137px, 106px, '../img/sprite.png', 'radio', );
$rating-star-selected-name: 'rating-star-selected';
$rating-star-selected-x: 63px;
$rating-star-selected-y: 74px;
$rating-star-selected-offset-x: -63px;
$rating-star-selected-offset-y: -74px;
$rating-star-selected-width: 16px;
$rating-star-selected-height: 15px;
$rating-star-selected-total-width: 137px;
$rating-star-selected-total-height: 106px;
$rating-star-selected-image: '../img/sprite.png';
$rating-star-selected: (63px, 74px, -63px, -74px, 16px, 15px, 137px, 106px, '../img/sprite.png', 'rating-star-selected', );
$rating-star-name: 'rating-star';
$rating-star-x: 42px;
$rating-star-y: 74px;
$rating-star-offset-x: -42px;
$rating-star-offset-y: -74px;
$rating-star-width: 16px;
$rating-star-height: 15px;
$rating-star-total-width: 137px;
$rating-star-total-height: 106px;
$rating-star-image: '../img/sprite.png';
$rating-star: (42px, 74px, -42px, -74px, 16px, 15px, 137px, 106px, '../img/sprite.png', 'rating-star', );
$select-filter-close-name: 'select-filter-close';
$select-filter-close-x: 121px;
$select-filter-close-y: 86px;
$select-filter-close-offset-x: -121px;
$select-filter-close-offset-y: -86px;
$select-filter-close-width: 13px;
$select-filter-close-height: 9px;
$select-filter-close-total-width: 137px;
$select-filter-close-total-height: 106px;
$select-filter-close-image: '../img/sprite.png';
$select-filter-close: (121px, 86px, -121px, -86px, 13px, 9px, 137px, 106px, '../img/sprite.png', 'select-filter-close', );
$select-filter-name: 'select-filter';
$select-filter-x: 121px;
$select-filter-y: 72px;
$select-filter-offset-x: -121px;
$select-filter-offset-y: -72px;
$select-filter-width: 13px;
$select-filter-height: 9px;
$select-filter-total-width: 137px;
$select-filter-total-height: 106px;
$select-filter-image: '../img/sprite.png';
$select-filter: (121px, 72px, -121px, -72px, 13px, 9px, 137px, 106px, '../img/sprite.png', 'select-filter', );
$slider-marker-name: 'slider-marker';
$slider-marker-x: 105px;
$slider-marker-y: 26px;
$slider-marker-offset-x: -105px;
$slider-marker-offset-y: -26px;
$slider-marker-width: 8px;
$slider-marker-height: 14px;
$slider-marker-total-width: 137px;
$slider-marker-total-height: 106px;
$slider-marker-image: '../img/sprite.png';
$slider-marker: (105px, 26px, -105px, -26px, 8px, 14px, 137px, 106px, '../img/sprite.png', 'slider-marker', );
$telephone-name: 'telephone';
$telephone-x: 66px;
$telephone-y: 50px;
$telephone-offset-x: -66px;
$telephone-offset-y: -50px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 137px;
$telephone-total-height: 106px;
$telephone-image: '../img/sprite.png';
$telephone: (66px, 50px, -66px, -50px, 12px, 16px, 137px, 106px, '../img/sprite.png', 'telephone', );
$twitter-name: 'twitter';
$twitter-x: 121px;
$twitter-y: 0px;
$twitter-offset-x: -121px;
$twitter-offset-y: 0px;
$twitter-width: 16px;
$twitter-height: 12px;
$twitter-total-width: 137px;
$twitter-total-height: 106px;
$twitter-image: '../img/sprite.png';
$twitter: (121px, 0px, -121px, 0px, 16px, 12px, 137px, 106px, '../img/sprite.png', 'twitter', );
$twitter-hover-name: 'twitter_hover';
$twitter-hover-x: 84px;
$twitter-hover-y: 74px;
$twitter-hover-offset-x: -84px;
$twitter-hover-offset-y: -74px;
$twitter-hover-width: 16px;
$twitter-hover-height: 12px;
$twitter-hover-total-width: 137px;
$twitter-hover-total-height: 106px;
$twitter-hover-image: '../img/sprite.png';
$twitter-hover: (84px, 74px, -84px, -74px, 16px, 12px, 137px, 106px, '../img/sprite.png', 'twitter_hover', );
$view-blocks-hover-name: 'view-blocks-hover';
$view-blocks-hover-x: 24px;
$view-blocks-hover-y: 50px;
$view-blocks-hover-offset-x: -24px;
$view-blocks-hover-offset-y: -50px;
$view-blocks-hover-width: 16px;
$view-blocks-hover-height: 16px;
$view-blocks-hover-total-width: 137px;
$view-blocks-hover-total-height: 106px;
$view-blocks-hover-image: '../img/sprite.png';
$view-blocks-hover: (24px, 50px, -24px, -50px, 16px, 16px, 137px, 106px, '../img/sprite.png', 'view-blocks-hover', );
$view-blocks-name: 'view-blocks';
$view-blocks-x: 84px;
$view-blocks-y: 47px;
$view-blocks-offset-x: -84px;
$view-blocks-offset-y: -47px;
$view-blocks-width: 16px;
$view-blocks-height: 16px;
$view-blocks-total-width: 137px;
$view-blocks-total-height: 106px;
$view-blocks-image: '../img/sprite.png';
$view-blocks: (84px, 47px, -84px, -47px, 16px, 16px, 137px, 106px, '../img/sprite.png', 'view-blocks', );
$view-list-hover-name: 'view-list-hover';
$view-list-hover-x: 21px;
$view-list-hover-y: 74px;
$view-list-hover-offset-x: -21px;
$view-list-hover-offset-y: -74px;
$view-list-hover-width: 16px;
$view-list-hover-height: 16px;
$view-list-hover-total-width: 137px;
$view-list-hover-total-height: 106px;
$view-list-hover-image: '../img/sprite.png';
$view-list-hover: (21px, 74px, -21px, -74px, 16px, 16px, 137px, 106px, '../img/sprite.png', 'view-list-hover', );
$view-list-name: 'view-list';
$view-list-x: 0px;
$view-list-y: 74px;
$view-list-offset-x: 0px;
$view-list-offset-y: -74px;
$view-list-width: 16px;
$view-list-height: 16px;
$view-list-total-width: 137px;
$view-list-total-height: 106px;
$view-list-image: '../img/sprite.png';
$view-list: (0px, 74px, 0px, -74px, 16px, 16px, 137px, 106px, '../img/sprite.png', 'view-list', );
$view-rows-hover-name: 'view-rows-hover';
$view-rows-hover-x: 45px;
$view-rows-hover-y: 50px;
$view-rows-hover-offset-x: -45px;
$view-rows-hover-offset-y: -50px;
$view-rows-hover-width: 16px;
$view-rows-hover-height: 16px;
$view-rows-hover-total-width: 137px;
$view-rows-hover-total-height: 106px;
$view-rows-hover-image: '../img/sprite.png';
$view-rows-hover: (45px, 50px, -45px, -50px, 16px, 16px, 137px, 106px, '../img/sprite.png', 'view-rows-hover', );
$view-rows-name: 'view-rows';
$view-rows-x: 84px;
$view-rows-y: 26px;
$view-rows-offset-x: -84px;
$view-rows-offset-y: -26px;
$view-rows-width: 16px;
$view-rows-height: 16px;
$view-rows-total-width: 137px;
$view-rows-total-height: 106px;
$view-rows-image: '../img/sprite.png';
$view-rows: (84px, 26px, -84px, -26px, 16px, 16px, 137px, 106px, '../img/sprite.png', 'view-rows', );
$vkontakte-hover-name: 'vkontakte-hover';
$vkontakte-hover-x: 121px;
$vkontakte-hover-y: 55px;
$vkontakte-hover-offset-x: -121px;
$vkontakte-hover-offset-y: -55px;
$vkontakte-hover-width: 10px;
$vkontakte-hover-height: 12px;
$vkontakte-hover-total-width: 137px;
$vkontakte-hover-total-height: 106px;
$vkontakte-hover-image: '../img/sprite.png';
$vkontakte-hover: (121px, 55px, -121px, -55px, 10px, 12px, 137px, 106px, '../img/sprite.png', 'vkontakte-hover', );
$vkontakte-name: 'vkontakte';
$vkontakte-x: 121px;
$vkontakte-y: 38px;
$vkontakte-offset-x: -121px;
$vkontakte-offset-y: -38px;
$vkontakte-width: 10px;
$vkontakte-height: 12px;
$vkontakte-total-width: 137px;
$vkontakte-total-height: 106px;
$vkontakte-image: '../img/sprite.png';
$vkontakte: (121px, 38px, -121px, -38px, 10px, 12px, 137px, 106px, '../img/sprite.png', 'vkontakte', );
$widget-close-name: 'widget-close';
$widget-close-x: 23px;
$widget-close-y: 95px;
$widget-close-offset-x: -23px;
$widget-close-offset-y: -95px;
$widget-close-width: 18px;
$widget-close-height: 11px;
$widget-close-total-width: 137px;
$widget-close-total-height: 106px;
$widget-close-image: '../img/sprite.png';
$widget-close: (23px, 95px, -23px, -95px, 18px, 11px, 137px, 106px, '../img/sprite.png', 'widget-close', );
$widget-open-name: 'widget-open';
$widget-open-x: 0px;
$widget-open-y: 95px;
$widget-open-offset-x: 0px;
$widget-open-offset-y: -95px;
$widget-open-width: 18px;
$widget-open-height: 11px;
$widget-open-total-width: 137px;
$widget-open-total-height: 106px;
$widget-open-image: '../img/sprite.png';
$widget-open: (0px, 95px, 0px, -95px, 18px, 11px, 137px, 106px, '../img/sprite.png', 'widget-open', );
$spritesheet-width: 137px;
$spritesheet-height: 106px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($checkbox-checked, $checkbox-hover, $facebook-hover, $facebook, $footer-facebook, $footer-twitter-hover, $footer-twitter, $footer-vkontakte, $marker, $pagination-back, $pagination-forward, $radio-checked, $radio-hover, $radio, $rating-star-selected, $rating-star, $select-filter-close, $select-filter, $slider-marker, $telephone, $twitter, $twitter-hover, $view-blocks-hover, $view-blocks, $view-list-hover, $view-list, $view-rows-hover, $view-rows, $vkontakte-hover, $vkontakte, $widget-close, $widget-open, );
$spritesheet: (137px, 106px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
