.breadcrumbs
    .container
        ul.breadcrumbs-list
            li.breadcrumbs-item
                a(href="/" class="breadcrumbs-url") Главная
            li.breadcrumbs-item
                a(href="#" class="breadcrumbs-url breadcrumbs-url_current") Каталог