header.header
    .container
        .header__left
            ul.header__social
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url") facebook
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url") vkontakte
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url") twitter
        .header__right
            .header__right-address
                i.sprite.icon-marker
                span.header__address ул. Маяковская 6, офис 17
            .header__right-telephone
                i.sprite.icon-tel
                span.header__telephone +7 (921) 123-12-13