header.header
    .container
        .header__left
            ul.header__social
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url header__social-facebook") 
                        span.hide-text facebook
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url header__social-vkontakte")
                        span.hide-text vkontakte
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url header__social-twitter")
                        span.hide-text twitter
        .header__right
            .header__right-address
                span.header__address ул. Маяковская 6, офис 17
            .header__right-telephone
                span.header__telephone +7 (921) 123-12-13