header.header
    .container
        .header__left
            ul.header__social
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url header__social-facebook") facebook
                            i
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url header__social-vkontakte") vkontakte
                            i
                li.header__social-item
                    a(href="#" target="_blank" class="header__social-url header__social-twitter") twitter
                            i
        .header__right
            .header__right-address
                i.header__icon-marker
                span.header__address ул. Маяковская 6, офис 17
            .header__right-telephone
                i.header__icon-tel
                span.header__telephone +7 (921) 123-12-13