.search
    .container
        .search__logo
            a(href="/" class="search__logo-url")
                img(src="img/cooltech.png" alt="Логотип" width="237" height="35")
        .search__block
            form(action="")
                input(type='text' name='text-search' placeholder='Что будем искать' class='search__block_input')
                button(type='submit' class='search__block_submit') Найти 
        .search__nav
            - var navUrls = {'Карта проезда':'map','История заказов':'history','Корзина':'checkout'}
            ul.search__nav-list
                each url, text  in navUrls
                    li.search__nav-item
                        a(href="/#{url}" class="search__nav-link") #{text}