include _helpers/_mixins

include _partials/head
    .wrapper
        include _blocks/_header
        include _blocks/_search
        include _blocks/_main-nav
        include _blocks/_breadcrumbs
        .heading
            .container
                h1.heading-page Мобильные телефоны
        .page-content
            .container
                .content
                    include _blocks/_sidebar
                    include _blocks/_content
        include _blocks/_footer
                
    include _partials/footer