<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Второе дз
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/lib.min.css")
    body
        .wrapper
            block content