.header{
    padding: 25px 0;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 0 #ebedef;
    @include clearfix;
    
    &__social{
        margin: 0;
        padding: 0;
        @include clearfix;
        
        &-item{
            float: left;
            width: 26px;
            height: 26px;
            margin-left: 15px;
            border-radius: 50px;
            background-color: #333;
            position: relative;
            
            &:first-child {
                margin-left: 0;
            }
        }
        &-url{
            display: block;
            height: 100%;
            position: relative;
            
            &:before {
                @include center;
            }
        }
        &-facebook {
            &:before {
                content: '';
                display: block;
                @include sprite($facebook);
            }
                
            &:hover:before{
                @include sprite($facebook-hover);
            }
        }
        &-vkontakte {
            
            &:before {
                content: '';
                display: block;
                @include sprite($vkontakte);
            }

            &:hover:before {
                @include sprite($vkontakte-hover);
            }
        }
        &-twitter {
            &:before {
                content: '';
                display: block;
            @include sprite($twitter);
            }
            
            &:hover:before {
                @include sprite($twitter-hover);
            }
        }
    }
    
}
.header__left {
    float: left;
}

.header__right {
    float: right;
    @include clearfix;
    
    &-address{
        display: inline-block;
        vertical-align: middle;
        
        &:before {
            content: '';
            @include sprite($marker);
            display: inline-block;
            vertical-align: bottom;
            margin-right: 10px;
        }
    }
    &-telephone{
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        margin-left: 85px;
        
        &:before {
            content: '';
            @include sprite($telephone);
            display: inline-block;
            vertical-align: center;
            margin-right: 10px;
        }
    }
}
