.search{
    padding: 34px 0;
    @include clearfix;
    &__logo{
        float: left;
        width: 237px;
        
        &-url {
            display: block;
        }
        &-img {
            max-width: 100%;
        }
    }
    &__block{
        float: left;
        margin-left: 60px;
        &_submit{
            $bg: #f60;
            height: 34px;
            background-color: $bg;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            outline: none;
            border: none;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
            margin-left: -1px;
            @include transition(background-color .3s);
            &:hover{
                background-color: lighten($bg, 10%);
            }
        }
        &_input{
            width: 267px;
            height: 34px;
            background-color: rgba(255, 255, 255, 0.6);
            border: 1px solid #dee1e4;
            border-radius: 3px 0 0 3px;
            color: #7f7f7f;
            box-sizing: border-box;
            font-weight: 300;
            padding-left: 16px;
            outline: none;
            float:left;
            @include transition(border .3s);
            &:hover, &:focus{
                border: 1px solid darken(#dee1e4, 30%)
            }
        }
    }
    
    &__nav{
        float: right;
        margin-top: 5px;
        max-width: 440px;
        
        &-list {
            @include clearfix;
        }
        
        &-item {
            float: right;
            list-style: none;
            margin-left: 32px;
        }
        
        &-link {
            font-size: 16px;
            font-weight: 600;
            text-decoration: underline;
            color: #333;
            @include transition(color .3s);
            &:hover{
                color: #f60;
            }
        }
    }
}